<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Магазин🧆</title>
  <style>
    .cat{
      background-color: #26b261;
      border-bottom: 5px solid #4e8a76;
      padding: 10px;
      font-family: intro;
      color: #183b2d;
      text-shadow: 0 5px 5px #1f623b;
      box-shadow: 0 10px 20px #6f9681;
      width: auto;
      font-weight: 500;}
    .category{
      padding: 5px;
      font-family: intro;
      color: #ff7676;
      text-shadow: 0 5px 5px #dab1c9;
      width: auto;
      font-weight: 700;
    }
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 15px;
      position: relative;
      overflow: hidden;
      border: none;
      background: #98b6b7;
      color: #fff;
      box-shadow: 0 5px 10px #96a29a;
      border-radius: 9px;}
    button{
            background-color: #429377;
            text-align: center;
            padding: 15px 5px;
            margin: 10px 5px auto;
            font-family: intro;
            font-size: 20px;
            border: 0;
            color: aliceblue;
            box-shadow: 0 10px 20px #6f9681;
            width: 19%;
            margin-bottom: 15px;
            border-radius: 9px;}
        .shine-button_for_poshuk {
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 30px;
         margin: 30px 5px;
        color: #fff;
        padding: 20px 0;
	    text-transform:  uppercase;
        transition: .2s ease-in-out;
        background-color: rgba(187, 64, 120, 0.7);
            font-family: intro;}
    .shine-button {
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #fff;
	    font-size: 0.950em;
	    text-transform:  uppercase;
        transition: .2s ease-in-out;
    float: left}
    .shine-button:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -80px;
        transform: skewX(-45deg);}
    .shine-button:hover {
        color: #fff !important;}
    .shine-button:hover:before {
        left: 100%;
        transition: .5s ease-in-out;}
    .shine-button:focus {
        background: #26b261;
        color: #fff !important;
        outline: none;}
    .link-ease-in-out a {
        display: inline-block;
        color: #ffffff;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;}
    .link-ease-in-out a:after {
        background-color: #e74dbc;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;}
    .link-ease-in-out a:hover:after, .link-ease-in-out a:focus:after {
        width: 100%;}
    .some{
        width: 100%;
        float: left;
    }
            input{
            font-weight: 300;
            font-family: intro;
            font-size: 60px;
                border-radius: 9px;
        }
  </style>
</head>
<body>
<center><h1 class="cat">🍓Вітаємо в нашому магазині!🍓</h1></center>
    <center>
        <form action="/zavd1/posh/" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Пошук товара..." name="q">
            <button class="shine-button_for_poshuk" type="submit">Пошук</button>
        </form>
    </center>

<center><h2 class="category">Всі наші категорії:</h2></center>
<center><div class="some">
{% for i in category%}
     <form  action="/zavd1/{{i.id}}/">
           <button class="shine-button" type="submit">{{i.name}}</button>
     </form>
{%endfor%}
</div></center>
{%for i in game%}
<div class="shine">
    <div class="link-ease-in-out">
        {{i.product}}<br>
        <form  action="/zavd1/yourproduct/{{i.id}}/" method="post">
            {% csrf_token %}
           <button class="shine-button" type="submit"></button>
            <input type="hidden" name="coment">
     </form>
    </div><br>
  Ціна: {{i.price}}<br>
  Дата: {{i.year}}</div>
{%endfor%}

</body>
</html>