<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупка🛍</title>
    <style>
        .cat{
      background-color: #26b261;
      border-bottom: 5px solid #4e8a76;
      padding: 10px;
      font-family: intro;
      color: #183b2d;
      text-shadow: 0 5px 5px #1f623b;
      box-shadow: 0 10px 20px #6f9681;
      width: auto;
      font-weight: 500;}
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 15px;
      overflow: hidden;
      border: none;
      background: #57816f;color: #183b2d;
      box-shadow: 0 5px 10px #96a29a;
      border-radius: 9px;
      font-size: 30px;
      text-shadow: 0 5px 5px #1f623b;}
    button{
            background-color: #429377;
            text-align: center;
            padding: 15px 5px;
            margin: 10px 5px auto;
            font-family: intro;
            font-size: 20px;
            border: 0;
            box-shadow: 0 10px 20px #6f9681;
            width: 19%;
            margin-bottom: 15px;
            border-radius: 9px;}
    p{
            font-weight: 700;
            font-family: intro;
            font-size: 40px;
    }
    .for_p{
            font-size: 30px;
    }
    select{
            font-weight: 300;
            font-family: intro;
            font-size: 30px;
    }
    input{
            font-size: 30px;
    }
        button{
            background-color: #429377;
            text-align: center;
            padding: 15px 5px;
            margin: 10px 5px auto;
            font-family: intro;
            font-size: 20px;
            border: 0;
            color: aliceblue;
            box-shadow: 0 10px 20px #6f9681;
            width: 19%;
            margin-bottom: 15px;
            border-radius: 9px;}
    .shine-button {
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #000000;
	    font-size: 0.950em;
	    text-transform:  uppercase;
        transition: .2s ease-in-out;}
    .shine-button:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -80px;
        transform: skewX(-45deg);}
    .shine-button:hover {
        color: #000000 !important;}
    .shine-button:hover:before {
        left: 100%;
        transition: .5s ease-in-out;}
    .shine-button:focus {
        background: #26b261;
        color: #fff !important;
        outline: none;}
    .link-ease-in-out a {
        display: inline-block;
        color: #ffffff;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;}
    .link-ease-in-out a:after {
        background-color: #e74dbc;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;}
    .link-ease-in-out a:hover:after, .link-ease-in-out a:focus:after {
        width: 100%;}
            .error{
            color: #f5593c;
        }
    </style>

</head>
<body>
<center><h1 class="cat">Покупка товару📟</h1></center>
{%for i in game%}
<center><div class="shine">
    <center><p>Ваш товар: {{i.product}}</p></center> <br>
  Ціна: {{i.price}}<br>
  Маса: {{i.massa}}<br>
  Дата: {{i.year}}</div></center>

<form action="/zavd1/good/{{i.id}}/" method="post">
    {%csrf_token%}
    <input type="hidden" name="poshta">
    <center><p class="for_p">Введіть вашу почту:<select name="poshta">
    <option value="t11" disabled="disabled" selected="selected">Пошта</option>
    <option value="t1" >Нова пошта</option>
    <option value="t2">УкрПошта</option></select></p>
    <p class="for_p">Введіть адресу пошти:<input type="text" name="adres"></p>
    {%for i in a%}
    {%if i == 'none'%}
        <center><p class="error">Ви не заповнили всі поля!</p></center>
    {%endif%}
    {%endfor%}
    <button class="shine-button" type="submit">Підтвердити покупку</button>
    </center>
</form>{%endfor%}
</body>
</html>