<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регестрація📑</title>
    <style>
        .cat{
            background-color: #26b261;
            border-bottom: 5px solid #4e8a76;
            padding: 10px;
            font-family: intro;
            color: #183b2d;
            text-shadow: 0 5px 5px #1f623b;
            box-shadow: 0 10px 20px #6f9681;
            width: auto;
            font-weight: 500;
        }
        body {
            margin: 0;
        }
        head html{
            padding: 0;
            margin: 0;
        }
        h1{
            margin-top: 0;
        }
        p{
            font-weight: 700;
            font-family: intro;
            font-size: 20px;
        }
        input{
            font-weight: 300;
            font-family: intro;
            font-size: 20px;
        }
        .up{
            height: 10px;
        }
        .error{
            color: #f5593c;
        }
        .slide-btns {
            position: relative;
            color: #fff;
            font-size: 0.950em;
            text-transform:  uppercase;
            background: #26b261;
            border: 1px solid #a7cbbc;
            padding: 10px 30px;
            margin: 15px;
            z-index: 1;
            overflow: hidden;
             }
        button{
            background-color: #429377;
            text-align: center;
            width: 20%;
            padding: 15px 32px;
            font-weight: 700;
            font-family: intro;
            font-size: 20px;
            border: 0;
	        flex-wrap: wrap;
            box-shadow: 0 10px 20px #6f9681;
        }
        .slide-btns.slide-left::after {
            top: 0;
            bottom: 0;
            left: -100%;
            right: 100%;}
        .slide-btns::after {
            content: "";
            background: #27754b;
            position: absolute;
            z-index: -1;
        }
        .slide-btns[class^="slide"]::after {
            transition: all 0.60s;
        }
        .slide-btns[class^="slide"]:hover::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all 0.60s;
        }
    </style>
</head>
<body>
<form action="/zavd1/mag/" method="post">
    {%csrf_token%}
    <center><h1 class="cat">САЙТ РЕГЕСТРАЦІЇ📜</h1></center>
    <center><p class="up">Ваша почта (gmail):<input type="text" name = "email"></p></center><br>
    <center><p>Ваш пароль (gmail):  <input type="password" name = "password"></p></center><br>
    {% for i in answers %}
      {%if i == 'none'%}
          <center><p class="error">Ви не заповнили всі поля!</p></center>
      {%endif%}
      {%if i == 'email_is_here'%}
          <center><p class="error">Такий акаунт вже існує!</p></center>
      {%endif%}
    {% endfor %}
    <center><button class="slide-btns slide-left" type="submit">Регеструватися</button></center><br>
    <input type="hidden" name = "name"><br>
    <input type="hidden" name = "year"><br>
</form>

</body>
</html>