<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пошук товару🥠</title>
    <style>
        .cat{
      background-color: #26b261;
      border-bottom: 5px solid #4e8a76;
      padding: 10px;
      font-family: intro;
      color: #183b2d;
      text-shadow: 0 5px 5px #1f623b;
      box-shadow: 0 10px 20px #6f9681;
      width: auto;
      font-weight: 500;}
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 15px;
      position: relative;
      overflow: hidden;
      border: none;
      background: #98b6b7;
      color: #fff;
      box-shadow: 0 5px 10px #96a29a;
      border-radius: 9px;}
    button{
            background-color: #429377;
            text-align: center;
            padding: 15px 5px;
            margin: 10px 5px auto;
            font-family: intro;
            font-size: 20px;
            border: 0;
            box-shadow: 0 10px 20px #6f9681;
            float: left;
            width: 19%;
            margin-bottom: 15px;
            border-radius: 9px;}
    .shine-button {
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #fff;
	    font-size: 0.950em;
	    text-transform:  uppercase;
        transition: .2s ease-in-out;}
    .shine-button:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -80px;
        transform: skewX(-45deg);}
    .shine-button:hover {
        color: #fff !important;}
    .shine-button:hover:before {
        left: 100%;
        transition: .5s ease-in-out;}
    .shine-button:focus {
        background: #26b261;
        color: #fff !important;
        outline: none;}
    .link-ease-in-out a {
        display: inline-block;
        color: #ffffff;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;}
    .link-ease-in-out a:after {
        background-color: #e74dbc;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;}
    .link-ease-in-out a:hover:after, .link-ease-in-out a:focus:after {
        width: 100%;}
    </style>

</head>
<body>
<center><h1 class="cat">Пошук🍳</h1></center>
{%for i in game%}
<div class="shine">
  {{i.product}}<br>
    <form  action="/zavd1/yourproduct/{{i.id}}/" method="post">
            {% csrf_token %}
           <button class="shine-button" type="submit"></button>
            <input type="hidden" name="coment">
     </form>
  Ціна: {{i.price}}<br>
  Дата: {{i.year}}</div>
{%endfor%}
</body>
</html>